.form {
  border: 2px solid black;
  border-radius: 10px;
  margin: 50px auto 0;
  padding: 20px;
}

.button {
  text-align: center;
}

.card-title {
  background-color: cadetblue;
}

.card-text{
  background-color: rgb(255, 252, 58);
}

/* .card {
  margin-top: 5%;
  height: 60%;
} */

.hidden {
  display: none;
}

.img {
  height: 60%;
}